html, body {
    /* Font specifics */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(194, 183, 183);
    /* Image specifics */
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100%;
    width: 100%;
    position: absolute;
    /* Background specifics */
    background-color: black;
    background-image: url(images/sunset.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#display {
    color: rgb(194, 183, 183);
    font-size: 2.9em;
    top: 10px;
    border-bottom: thin solid;
    padding-bottom: 20px;
    opacity: 0.80;
  }
  
#date {
    color: rgb(194, 183, 183);
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.6;
    
  }

#line {
    width: 100%;
    bottom: 4em;
    position: fixed;
    border-bottom: solid white;
    padding: 15px;
    opacity: 0.5;
  }
  
#content {
    height: 45em;
  } 
  
p {
    max-width: 30em;
    color: rgb(194, 183, 183);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:0.1em;
    text-align:center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 2em;
    font-variant: small-caps;
  }
  
  p :hover {
    text-decoration: none;
  }
  
  .container {
    padding-top: 6em;
    text-align: center;
  }
  
h1 {
    color: goldenrod;
}

#quoteDisplay-el {
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
}

button {
    background-color: goldenrod;
    width: 150px;
    color: #016f32;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    transition: 0.5s;
    opacity: 0.7;
}


.container {
    padding-top: 6em;
    text-align: center;
  }
  
  #b-nav {
    padding-bottom: 5em;
    position: fixed;
    width: 100%;
    bottom: 2em;
  }
  
  #b-nav ul {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    text-align: center;
  }
  
  #b-nav ul li {
    display: inline;
  }
  
  #b-nav ul li a {
    text-decoration: none;
    padding: .2em 1em;
    background-color: black;
    opacity: 0.4;
  }
  
  .hold {
    width: 100%;
    text-align: left;
  }
  
  #gen {
    outline: none;
    padding-top: 5px;
    text-decoration: none;
    opacity: 0.6;
    background-color: black;
    color: rgb(110, 104, 104);
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    transition: 0.5s;
    padding-bottom: 5px;
  }
  
  #gen:hover {
    background-color: white;
    color: black;
    border: thin solid black;
    opacity: 0.8;
  }
  
  #gen a {
    text-decoration: none;
  }
  